<div class="mynav">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light mb-2 p-0" style="box-shadow:  2px 2px 1px rgb(229, 230, 230);">

    <div class="d-flex justify-content-between" style="width: 100%;">
      <a class="navbar-brand " style="font-weight:bolder;font-size: 100%;color:#333333;font-weight: 500;">
        PERSONAL CASH BOOK
      </a>


      <div class="d-flex justify-content-between">

        <a class="nav-link  " style="padding: 2px;text-align: center;color:#333333;font-weight: 500;" href="/login">
          <i class="fa fa-sign-out" style="color: #333333;" aria-hidden="true"></i>
          logout
        </a> <a class="nav-link  "
          style="margin-left: 5px;padding: 2px;text-align: center;color:#333333;font-weight: 500;"
          href="/portal/change-pass">
          <i class="fa fa-gear" style="color: #333333;" aria-hidden="true"></i>
          config
        </a>

      </div>
    </div>

  </nav>

</div>

<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar" class="sidebar">
    <img src="/assets/images/money-bag.png" alt="Spinning Image" class="money-bag">
    <div class="user">
      JUDAH T CHISARE
    </div>
    <div class="links">
      <ul>
        <li>
          <i class="fa fa-suitcase"></i><a href="#">Savings</a>
        </li>
        <li>
          <i class="fa fa-plus"></i><a href="#" style="margin-left: 4px;">Add</a>
        </li>
        <li>
          <i class="fa fa-money"></i><a href="#">Bills</a>
        </li>
        <li>
          <i class="fa fa-credit-card"></i><a href="#">Withdrawals</a>
        </li>
        <li>
          <i class="fa fa-dollar"></i><a style="margin-left: 10px;" href="#">Debts</a>
        </li>
        <li>
          <i class="fa fa-money"></i><a href="#">Credits</a>
        </li>
      </ul>
    </div>
  </nav>
</div>