<div
  style="min-height: 100vh; display: flex; justify-content: center; align-items: center; grid-template-columns: repeat(2, minmax(0, 1fr));">
  <div style="position: absolute; bottom: 5px; left: 5px; font-size: 12px;">
    &copy; judahtc cashbook
  </div>
  <form ngNativeValidate>
    <div class="top-of-form">
      <h3>Your Personal Cash Book</h3>
      <p style="font-size: 0.875rem;">Enter your email and password to login</p>
    </div>

    <div style="display: grid; gap: 1.3rem;">
      <input type="email" id="inputEmail" class="custom-forms" placeholder="Email address" required autofocus
        formControlName="email" name="email" required>

      <input type="password" id="inputPassword" class="custom-forms" placeholder="Password" required
        formControlName="password" name="password" required>
    </div>

    <button class="custom-btn" type="submit">
      <span>Sign in</span>
      <span style="font-size: 60%;margin-left: 4%;">
        <span class="spinner-border" role="status" style="height: 13px; width: 13px;">
          <span class="sr-only" id="loading" style="height: 13px; width: 13px;"></span>
        </span>
      </span>

    </button>


    <i style="color: red; margin-top: 0.25rem; font-size: 0.675rem;">incorrect password</i>
    <br>
    <a routerLink="#" id="forgot_pswd" class="forgot-password">Forgot
      password?</a>



  </form>

</div>



<ng-template #content1 let-modal style="padding: 0%;">
  <div>

    <!-- <div class="modal-body"> -->
    <button style="float: right;" type="button" class="btn-close" aria-label="Close"
      (click)="[modal.dismiss('Cross click')]"></button>

    <div class=" ">
      <div class="row justify-content-center">
        <div class="mb-4">
          <form class="card mt-4">
            <div class="card-body">
              <div class="form-group">
                <h6 style="color: #325980;">PASSWORD RESET</h6>
                <input class="form-control" formControlName="email" type="text" id="email" name="email"
                  required=""><small class="form-text text-muted">Enter the email address. We will
                  email a link to the password reset page to this address.</small>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-dark" type="submit">Get New
                Password</button>
              <!-- <button class="btn btn-danger" type="submit">Back to Login</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #content let-modal class="p-4">
  <div style="width: 98%;margin:auto">

    <!-- <div class="modal-body"> -->
    <button style="float: right;" type="button" class="btn-close" aria-label="Close"
      (click)="[modal.dismiss('Cross click')]"></button>

    <div class=" mb-2 ">
      <div class="row justify-content-center">
        <div class="">


          <form class="card mt-4 mb-4 ml-2 mr-2">
            <div class="card-body">
              <small style="font-size: 80%;">Enter the 6 digit One-Time-Password (OTP) from your authenticator app <i
                  class="fa fa-mobile" style="font-size: 90%;"></i></small>
              <div class="form-group">
                <input class="form-control" type="text" id="otp" name="otp" required=""><small
                  class="form-text text-muted">Please enter the OTP to proceed to your
                  account</small><br>
                <!-- <small style="color: rgb(128, 0, 26);">OTP expires in <b>0:{{timeLeft}}</b></small> -->
              </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center" style="font-size: 80%;">
              <button class="btn btn-outline-dark" type="submit">Submit OTP</button>

            </div>
          </form>
        </div>
      </div>
    </div>





  </div>
</ng-template>