// <-----------------------------FOR LAPTOPS ---------------------------------->
@media only screen and (min-width: 1200px) {
  /* Reduce the height of the input fields */
  .metric {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #ced4da; /* Optionally reset the border color */
  }

  .metric-cards {
    width: auto;
    font-size: 80%;
    font-style: oblique;
    font-weight: 400;
    height: auto;
    border: 1px solid azure;
    box-shadow: 0.1px 0.1px 0.35px 0.35px rgb(158, 170, 195);
    margin-left: 3%;
    margin-top: 1%;
  }
}

// <-----------------------------FOR PHONES ---------------------------------->
@media only screen and (max-width: 1200px) {
  .metric {
    display: block;
    justify-content: space-between;
    margin-bottom: 1%;
  }

  .metric-cards {
    width: 100%;
    font-size: 76%;
    height: auto;
    border: 0.3px solid azure;
    box-shadow: 0.1px 0.1px 0.4px 0.4px rgb(167, 176, 198);
    border-radius: 8px;
    padding-bottom: 1px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #ced4da; /* Optionally reset the border color */
  }
}
